Options -MultiViews
RewriteEngine On

# Mencegah akses langsung ke folder
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Arahkan semua request ke index.php
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]